* {
	box-sizing: border-box;
}
html {
	height: 100%;
	font-family: Tahoma,"Microsoft YaHei",arial,simsun,sans-serif;
	font-size: 1.5vw;
}
body {
	color: rgba(0,0,0,.87);
	background: #D32F2F;
	background: linear-gradient(160deg,#EF5350,#B71C1C);
	padding: 24px 40px;
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0;
}
.header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 0 1 auto;
}
h1{
	text-align: center;
	color: #fff;
	font-size: 2em;
	font-weight: 500;
}
h2{
	font-size: 1.2em;
}
.logo {
	width: 20%;
	max-width: 200px;
}
.hot-and-cold {
	color: #FFF59D;
	font-weight: 600;
}
.hot, .cold {
	margin-right: 2em;
}
.content {
	border-radius: 2px;
}
h2 {
	color: #fff;
	margin: 16px 0 8px;
	font-weight: 500;
}
.card {
	background: #fff;
	border-radius: 2px;
	margin-bottom: 8px;
}
.today .row-data .cell.data:not(:first-child) {
	color: #F44336;
}
.today .cell {
	flex: 1 0;
}
.row-group {
	display: flex;
}
.row {
	flex: 1 0 auto;
	display: flex;
	border-bottom: 1px solid rgba(0,0,0,.12);
}
.row:last-child {
	border: none;
}
.cell {
	flex: 1 1 8%;
	line-height: 48px;
	text-align: center;
	white-space: nowrap;
}
.row-header {
	flex: 0 1 9em;
	text-align: left;
	margin-left: 1em;
}
.column-header {
	color: rgba(0,0,0,.54);
}
.note {
	font-size: .8em;
	color: #fff;
	margin-left: 1rem;
}
.foot {
	text-align: right;
	font-size: .8em;
	color: rgba(0,0,0,.38);
}
