* {
	box-sizing: border-box;
}
html {
	height: 100%;
	font-family: Tahoma,"Microsoft YaHei",arial,simsun,sans-serif;
	font-size: 1.5vw;
}
body {
	color: rgba(0,0,0,.87);
	background: url(beijing.jpg)no-repeat center;
	background-size: cover;
	padding: 0 40px 24px;
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0;
}
.header {
	flex: none;
	margin-bottom: -80px;
}
.header img {
	width: 100%;
}
h1{
	text-align: center;
	color: #fff;
	font-size: 2em;
	font-weight: 500;
}
h2{
	font-size: 1.2em;
	margin: 0 0 4px;
}
.logo {
	width: 20%;
	max-width: 200px;
}
.hot-and-cold {
	align-self: flex-start;
}
.hot-and-cold .cell {
	min-width: 9em;
}
.content {
	border-radius: 2px;
}
.card {
	border-radius: 2px;
	margin-bottom: 8px;
	background: rgba(45, 157, 165, 0.57);
	color: #fff;
}
.row-group {
	display: flex;
}
.row {
	flex: 1 0 auto;
	display: flex;
	border-bottom: 1px solid rgba(255,255,255,.3);
}
.row:last-child {
	border: none;
}
.cell {
	flex: 1 1 8%;
	line-height: 1.8em;
	text-align: center;
	white-space: nowrap;
	border-right: 1px solid rgba(255,255,255,.3);
}
.row-header {
	flex: 0 1 9em;
	text-align: left;
	margin-left: 1em;
}
.note {
	font-size: .8em;
	margin: 0;
}
.foot {
	text-align: right;
	font-size: .8em;
	color: rgba(0,0,0,.38);
}
.yellow {
	color: orange;
}
.yellow-back {
	color: #fff;
	background: orange;
}
.gray {
	background: rgba(208, 208, 208, 0.55);
	color: rgba(0,0,0,.87);
	font-weight: 700;
}
.yellow-back .cell.data,
.gray .cell.data {
	font-weight: 700;
	font-size: 1.5rem;
}
.yellow-back .row-header,
.gray .row-header {
	display: flex;
	align-items: center;
}
