* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-size: 16px;
  font-family: 'microsoft yahei',sans-serif;
  color: rgba(0,0,0,.84);
}
section {
  margin: 24px 8px;
  border-radius: 5px;
}
.input-group {
  font-size: 1.5em;
  padding: 8px 0;
}
input {
  -webkit-appearance: none;
}
input[type=text] {
  width: 50%;
  border: none;
  outline: none;
  font-size: inherit;
  display: inline-block;
  border-bottom: 2px solid rgba(0,0,0,.54);
  color: #f40;
  text-align: center;
  border-radius: 0;
}
.placeholder {
  width: 45%;
  display: inline-block;
  font-size: inherit;
  color: #f40;
  white-space: nowrap;
  text-align: center;
}
input:focus {
  border-color: #f40;
}
.btn.primary {
  background: #f40;
  color: #fff;
  font-size: 1.5em;
  border: none;
  width: 100%;
  padding: 8px 16px;
  font-weight: 600;
}
p {
  text-align: center;
  margin: .5em 0;
}
